@CHARSET "UTF-8";

.eaInputSearch{
	display : inline-block;
	width: 280px;
}

.eaSearchDivMagin{
	margin: 30px 0;	
}

.eaInputSearchText{
	display : inline-block;
	width: 600px;
}

.eabtn{
    color: #333;
    background-color: #fff;
/*     border-color: #ccc; */
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}

.divALM{
	margin-bottom: 10px;	
}

.eaTableMagin{
	margin: 5px 0px;
}




